body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header,
.hero {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  height: 24px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 200px 48px 200px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

header .links {
  display: flex;
  gap: 32px;
  flex-shrink: 0;
}

header .logo {
  font-weight: 900;
  font-size: 24px;
}

.hero {
  height: 300px;
  padding: 0 200px 48px;
  gap: 96px;
  align-items: center;
}

.hero .left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 16px 0;
}

.hero .image {
  flex: 1;
  height: 200px;
  width: 350px;
  background-color: #6d747d;
  line-height: 200px;
  text-align: center;
}

.hero .left .text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero .left .subtext {
  margin: 16px 0;
  font-size: 18px;
  color: #e5e7eb;
}

button {
  height: 32px;
  width: 96px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 6px;
  font-weight: 900;
  filter: none;
}

button:hover {
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 64px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item .subtext {
  height: 100px;
  width: 150px;
  text-align: center;
}

.item .image {
  height: 150px;
  width: 150px;
  border-width: 4px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 16px;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
  padding: 100px 250px;
}

.quote p {
  text-align: right;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.cta {
  display: flex;
  height: 150px;
  margin: 100px 300px;
  padding: 0 96px;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 8px;
}

.cta .text .main {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 0;
}

.cta .text .subtext {
  margin-top: 0;
  font-size: 16px;
}

.cta button {
  border-color: #f9faf8;
  border-style: solid;
}

footer {
  padding: 32px;
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
}
